ip: "10.11.12.13"
memory: 2048
cpus: 2

# host_workspace:
# db_password:

# projects:
#  project_folder_inside_workspace:
#    type: symfony # required
#    domain: example.dev # optional (defaults to *.local)
#    webpath: public # optional (defaults to project's root)

#  another_project_folder_inside_workspace:
#    type: static
#    (...)


# copy:
  # - from: /exampledir
    # to: /exampledir

# mpd_music_directory: /exampledir # defaults to "/vagrant/Music"
