ip: "10.11.12.13"
memory: 2048
cpus: 2

# db_password:

# projects:
#  project_name1:
#    path: dirpath
#    type: symfony # required
#    domain: example.dev # optional (defaults to *.local)
#    webpath: public # optional (defaults to project's root)

#  project_name2:
#    path: dirpath
#    (...)


# copy:
  # - from: /exampledir
    # to: /exampledir

# music_directory: /exampledir # defaults to "/vagrant/Music"
