ip: "10.11.12.13"
memory: 2048
cpus: 2

# host_workspace:
# db_password:

# projects:
#  project_folder_inside_workspace_1:
#    type: symfony
#    webpath: public

#  project_folder_inside_workspace_2:
#    type: symfony
#    webpath: public


# copy:
  # - from: /home/mperlinski/Music
    # to: /home/vagrant/music
